body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
ol._listStyleNone {
	list-style-type:none;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table, th.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
h1.aside-title {
	color:#d2232a;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.figure-description {
	color:#41ad49;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.091;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.figure-figcaption {
	color:#ec008c;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.figure-notes {
	color:#25408f;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-description {
	color:#41ad49;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-figcaption {
	color:#d2232a;
	font-family:"Minion Pro", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.table-notes {
	color:#25408f;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.arabic-level-1, p.arabic-level-1 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-4px;
	text-transform:none;
	widows:1;
}
li.bullet-level-1, p.bullet-level-1 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-4px;
	text-transform:none;
	widows:1;
}
p.none {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.center {
	color:#ec008c;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.right {
	color:#41ad49;
	font-family:Cambria, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.214;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.bibliography {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.blockquote-no-indent {
	color:#41ad49;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.none {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:12px;
	text-transform:none;
	widows:1;
}
p.no-indent {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.no-indent {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.center {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:24px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
figure.graphic {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.chapter {
	color:#d2232a;
	font-family:"Minion Pro", serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:24px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.section {
	color:#41ad49;
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.subsection {
	color:#cc0000;
	font-family:"Minion Pro Med", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:12px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
h1.subsubsection {
	color:#ec008c;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:inside;
	list-style-type:decimal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
b.none {
	font-style:normal;
	font-weight:bold;
}
span.eikona {
	color:#613790;
	font-family:"Myriad Pro Light", sans-serif;
	font-style:normal;
	font-weight:600;
}
p.def {
	font-family:"Myriad Pro Light", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:600;
}
span.foto {
	font-family:"Myriad Pro Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:600;
}
i.none {
	color:#3333ff;
	font-style:italic;
	font-weight:normal;
}
p.plaisiaki {
	font-family:"Myriad Pro", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
sub.none {
	vertical-align:sub;
}
sup.none {
	color:#cc0000;
	vertical-align:super;
}
span._idGenBNMarker-1 {
	display:inline-block;
	text-indent:0;
	width:74px;
}
span._idGenBNMarker-2 {
	display:inline-block;
	text-indent:0;
	width:12px;
}
span._idGenBNMarker-3 {
	display:inline-block;
	text-indent:0;
	width:32px;
}
span._idGenBNMarker-4 {
	display:inline-block;
	text-indent:0;
	width:95px;
}
span._idGenBNMarker-5 {
	display:inline-block;
	text-indent:0;
	width:97px;
}
span._idGenBNMarker-6 {
	display:inline-block;
	text-indent:0;
	width:4px;
}
span._idGenBNMarker-7 {
	display:inline-block;
	text-indent:0;
	width:59px;
}
span._idGenBNMarker-8 {
	display:inline-block;
	text-indent:0;
	width:57px;
}
span._idGenBNMarker-9 {
	display:inline-block;
	text-indent:0;
	width:73px;
}
span._idGenBNMarker-10 {
	display:inline-block;
	text-indent:0;
	width:99px;
}
span._idGenBNMarker-11 {
	display:inline-block;
	text-indent:0;
	width:55px;
}
span._idGenBNMarker-12 {
	display:inline-block;
	text-indent:0;
	width:76px;
}
span._idGenBNMarker-13 {
	display:inline-block;
	text-indent:0;
	width:94px;
}
span._idGenBNMarker-14 {
	display:inline-block;
	text-indent:0;
	width:152px;
}
span._idGenBNMarker-15 {
	display:inline-block;
	text-indent:0;
	width:89px;
}
span._idGenBNMarker-16 {
	display:inline-block;
	text-indent:0;
	width:31px;
}
span._idGenBNMarker-17 {
	display:inline-block;
	text-indent:0;
	width:13px;
}
span._idGenBNMarker-18 {
	display:inline-block;
	text-indent:0;
	width:14px;
}
span._idGenBNMarker-19 {
	display:inline-block;
	text-indent:0;
	width:150px;
}
span._idGenBNMarker-20 {
	display:inline-block;
	text-indent:0;
	width:41px;
}
span._idGenBNMarker-21 {
	display:inline-block;
	text-indent:0;
	width:46px;
}
span._idGenBNMarker-22 {
	display:inline-block;
	text-indent:0;
	width:20px;
}
span._idGenBNMarker-23 {
	display:inline-block;
	text-indent:0;
	width:104px;
}
span._idGenBNMarker-24 {
	display:inline-block;
	text-indent:0;
	width:19px;
}
span._idGenBNMarker-25 {
	display:inline-block;
	text-indent:0;
	width:40px;
}
span._idGenBNMarker-26 {
	display:inline-block;
	text-indent:0;
	width:18px;
}
span._idGenBNMarker-27 {
	display:inline-block;
	text-indent:0;
	width:84px;
}
span._idGenBNMarker-28 {
	display:inline-block;
	text-indent:0;
	width:88px;
}
span._idGenBNMarker-29 {
	display:inline-block;
	text-indent:0;
	width:90px;
}
sup._idGenCharOverride-1, sub._idGenCharOverride-1 {
	font-size:58%;
}
col._idGenTableRowColumn-1 {
	width:270px;
}
tr._idGenTableRowColumn-2 {
	min-height:17px;
}
tr._idGenTableRowColumn-3 {
	min-height:478px;
}
tr._idGenTableRowColumn-4 {
	min-height:334px;
}
tr._idGenTableRowColumn-5 {
	min-height:262px;
}
tr._idGenTableRowColumn-6 {
	min-height:223px;
}
tr._idGenTableRowColumn-7 {
	min-height:236px;
}
tr._idGenTableRowColumn-8 {
	min-height:246px;
}
tr._idGenTableRowColumn-9 {
	min-height:233px;
}
tr._idGenTableRowColumn-10 {
	min-height:166px;
}
tr._idGenTableRowColumn-11 {
	min-height:167px;
}
col._idGenTableRowColumn-12 {
	width:67px;
}
col._idGenTableRowColumn-13 {
	width:472px;
}
tr._idGenTableRowColumn-14 {
	min-height:29px;
}
tr._idGenTableRowColumn-15 {
	min-height:68px;
}
tr._idGenTableRowColumn-16 {
	min-height:42px;
}
tr._idGenTableRowColumn-17 {
	min-height:60px;
}
tr._idGenTableRowColumn-18 {
	min-height:564px;
}
tr._idGenTableRowColumn-19 {
	min-height:258px;
}
tr._idGenTableRowColumn-20 {
	min-height:213px;
}
tr._idGenTableRowColumn-21 {
	min-height:212px;
}
col._idGenTableRowColumn-22 {
	width:217px;
}
col._idGenTableRowColumn-23 {
	width:322px;
}
tr._idGenTableRowColumn-24 {
	min-height:31px;
}
tr._idGenTableRowColumn-25 {
	min-height:276px;
}
tr._idGenTableRowColumn-26 {
	min-height:224px;
}
tr._idGenTableRowColumn-27 {
	min-height:535px;
}
tr._idGenTableRowColumn-28 {
	min-height:316px;
}
tr._idGenTableRowColumn-29 {
	min-height:247px;
}
tr._idGenTableRowColumn-30 {
	min-height:218px;
}
tr._idGenTableRowColumn-31 {
	min-height:178px;
}
tr._idGenTableRowColumn-32 {
	min-height:201px;
}
tr._idGenTableRowColumn-33 {
	min-height:220px;
}
tr._idGenTableRowColumn-34 {
	min-height:254px;
}
col._idGenTableRowColumn-35 {
	width:108px;
}
tr._idGenTableRowColumn-36 {
	min-height:14px;
}
tr._idGenTableRowColumn-37 {
	min-height:27px;
}
tr._idGenTableRowColumn-38 {
	min-height:39px;
}
tr._idGenTableRowColumn-39 {
	min-height:15px;
}
tr._idGenTableRowColumn-40 {
	min-height:161px;
}
tr._idGenTableRowColumn-41 {
	min-height:155px;
}
tr._idGenTableRowColumn-42 {
	min-height:121px;
}
tr._idGenTableRowColumn-43 {
	min-height:144px;
}
tr._idGenTableRowColumn-44 {
	min-height:175px;
}
tr._idGenTableRowColumn-45 {
	min-height:190px;
}
tr._idGenTableRowColumn-46 {
	min-height:153px;
}
tr._idGenTableRowColumn-47 {
	min-height:16px;
}
col._idGenTableRowColumn-48 {
	width:180px;
}
tr._idGenTableRowColumn-49 {
	min-height:51px;
}
col._idGenTableRowColumn-50 {
	width:75px;
}
col._idGenTableRowColumn-51 {
	width:341px;
}
col._idGenTableRowColumn-52 {
	width:46px;
}
col._idGenTableRowColumn-53 {
	width:76px;
}
tr._idGenTableRowColumn-54 {
	min-height:26px;
}
tr._idGenTableRowColumn-55 {
	min-height:290px;
}
tr._idGenTableRowColumn-56 {
	min-height:232px;
}
tr._idGenTableRowColumn-57 {
	min-height:221px;
}
img._idGenObjectAttribute-1 {
	height:79px;
	width:79px;
}
img._idGenObjectAttribute-2 {
	height:67px;
	width:84px;
}
img._idGenObjectAttribute-3 {
	height:113px;
	width:543px;
}
img._idGenObjectAttribute-4 {
	height:208px;
	width:208px;
}
img._idGenObjectAttribute-5 {
	height:141px;
	width:187px;
}
img._idGenObjectAttribute-6 {
	height:122px;
	width:94px;
}
img._idGenObjectAttribute-7 {
	height:126px;
	width:97px;
}
img._idGenObjectAttribute-8 {
	height:129px;
	width:90px;
}
img._idGenObjectAttribute-9 {
	height:149px;
	width:213px;
}
img._idGenObjectAttribute-10 {
	height:211px;
	width:503px;
}
img._idGenObjectAttribute-11 {
	height:142px;
	width:316px;
}
img._idGenObjectAttribute-12 {
	height:96px;
	width:143px;
}
img._idGenObjectAttribute-13 {
	height:190px;
	width:384px;
}
img._idGenObjectAttribute-14 {
	height:317px;
	width:285px;
}
img._idGenObjectAttribute-15 {
	height:137px;
	width:97px;
}
img._idGenObjectAttribute-16 {
	height:519px;
	width:503px;
}
img._idGenObjectAttribute-17 {
	height:178px;
	width:348px;
}
img._idGenObjectAttribute-18 {
	height:142px;
	width:212px;
}
img._idGenObjectAttribute-19 {
	height:64px;
	width:438px;
}
img._idGenObjectAttribute-20 {
	height:537px;
	width:503px;
}
img._idGenObjectAttribute-21 {
	height:153px;
	width:544px;
}
img._idGenObjectAttribute-22 {
	height:283px;
	width:209px;
}
img._idGenObjectAttribute-23 {
	height:163px;
	width:212px;
}
img._idGenObjectAttribute-24 {
	height:79px;
	width:235px;
}
img._idGenObjectAttribute-25 {
	height:87px;
	width:72px;
}
img._idGenObjectAttribute-26 {
	height:106px;
	width:77px;
}
img._idGenObjectAttribute-27 {
	height:214px;
	width:143px;
}
img._idGenObjectAttribute-28 {
	height:85px;
	width:60px;
}
img._idGenObjectAttribute-29 {
	height:64px;
	width:71px;
}
img._idGenObjectAttribute-30 {
	height:134px;
	width:201px;
}
img._idGenObjectAttribute-31 {
	height:91px;
	width:83px;
}
img._idGenObjectAttribute-32 {
	height:103px;
	width:82px;
}
img._idGenObjectAttribute-33 {
	height:104px;
	width:78px;
}
img._idGenObjectAttribute-34 {
	height:92px;
	width:126px;
}
img._idGenObjectAttribute-35 {
	height:103px;
	width:68px;
}
img._idGenObjectAttribute-36 {
	height:189px;
	width:126px;
}
img._idGenObjectAttribute-37 {
	height:101px;
	width:76px;
}
img._idGenObjectAttribute-38 {
	height:108px;
	width:107px;
}
img._idGenObjectAttribute-39 {
	height:254px;
	width:503px;
}
img._idGenObjectAttribute-40 {
	height:315px;
	width:252px;
}
img._idGenObjectAttribute-41 {
	height:114px;
	width:503px;
}
img._idGenObjectAttribute-42 {
	height:473px;
	width:482px;
}
img._idGenObjectAttribute-43 {
	height:75px;
	width:108px;
}
img._idGenObjectAttribute-44 {
	height:75px;
	width:57px;
}
img._idGenObjectAttribute-45 {
	height:87px;
	width:58px;
}
img._idGenObjectAttribute-46 {
	height:60px;
	width:91px;
}
img._idGenObjectAttribute-47 {
	height:139px;
	width:213px;
}
img._idGenObjectAttribute-48 {
	height:192px;
	width:350px;
}
img._idGenObjectAttribute-49 {
	height:242px;
	width:324px;
}
img._idGenObjectAttribute-50 {
	height:141px;
	width:213px;
}
img._idGenObjectAttribute-51 {
	height:74px;
	width:255px;
}
img._idGenObjectAttribute-52 {
	height:140px;
	width:212px;
}
img._idGenObjectAttribute-53 {
	height:167px;
	width:232px;
}
img._idGenObjectAttribute-54 {
	height:151px;
	width:276px;
}
img._idGenObjectAttribute-55 {
	height:332px;
	width:338px;
}
img._idGenObjectAttribute-56 {
	height:307px;
	width:503px;
}
img._idGenObjectAttribute-57 {
	height:326px;
	width:482px;
}
img._idGenObjectAttribute-58 {
	height:74px;
	width:354px;
}
img._idGenObjectAttribute-59 {
	height:80px;
	width:52px;
}
img._idGenObjectAttribute-60 {
	height:72px;
	width:108px;
}
img._idGenObjectAttribute-61 {
	height:76px;
	width:108px;
}
img._idGenObjectAttribute-62 {
	height:96px;
	width:141px;
}
img._idGenObjectAttribute-63 {
	height:138px;
	width:212px;
}
img._idGenObjectAttribute-64 {
	height:107px;
	width:161px;
}
img._idGenObjectAttribute-65 {
	height:99px;
	width:154px;
}
img._idGenObjectAttribute-66 {
	height:171px;
	width:347px;
}
img._idGenObjectAttribute-67 {
	height:326px;
	width:217px;
}
img._idGenObjectAttribute-68 {
	height:141px;
	width:212px;
}
img._idGenObjectAttribute-69 {
	height:64px;
	width:436px;
}
img._idGenObjectAttribute-70 {
	height:551px;
	width:503px;
}
img._idGenObjectAttribute-71 {
	height:130px;
	width:482px;
}
img._idGenObjectAttribute-72 {
	height:242px;
	width:325px;
}
img._idGenObjectAttribute-73 {
	height:97px;
	width:64px;
}
img._idGenObjectAttribute-74 {
	height:97px;
	width:57px;
}
img._idGenObjectAttribute-75 {
	height:142px;
	width:209px;
}
img._idGenObjectAttribute-76 {
	height:377px;
	width:253px;
}
img._idGenObjectAttribute-77 {
	height:73px;
	width:67px;
}
img._idGenObjectAttribute-78 {
	height:64px;
	width:337px;
}
img._idGenObjectAttribute-79 {
	height:81px;
	width:65px;
}
img._idGenObjectAttribute-80 {
	height:316px;
	width:241px;
}
img._idGenObjectAttribute-81 {
	height:121px;
	width:298px;
}
img._idGenObjectAttribute-82 {
	height:107px;
	width:72px;
}
img._idGenObjectAttribute-83 {
	height:239px;
	width:360px;
}
img._idGenObjectAttribute-84 {
	height:102px;
	width:68px;
}
img._idGenObjectAttribute-85 {
	height:196px;
	width:414px;
}
img._idGenObjectAttribute-86 {
	height:219px;
	width:402px;
}
img._idGenObjectAttribute-87 {
	height:64px;
	width:439px;
}
img._idGenObjectAttribute-88 {
	height:218px;
	width:361px;
}
img._idGenObjectAttribute-89 {
	height:108px;
	width:143px;
}
img._idGenObjectAttribute-90 {
	height:265px;
	width:503px;
}
img._idGenObjectAttribute-91 {
	height:220px;
	width:482px;
}
img._idGenObjectAttribute-92 {
	height:88px;
	width:68px;
}
img._idGenObjectAttribute-93 {
	height:60px;
	width:90px;
}
img._idGenObjectAttribute-94 {
	height:71px;
	width:54px;
}
img._idGenObjectAttribute-95 {
	height:73px;
	width:354px;
}
img._idGenObjectAttribute-96 {
	height:70px;
	width:107px;
}
img._idGenObjectAttribute-97 {
	height:139px;
	width:208px;
}
img._idGenObjectAttribute-98 {
	height:90px;
	width:71px;
}
img._idGenObjectAttribute-99 {
	height:222px;
	width:349px;
}
img._idGenObjectAttribute-100 {
	height:144px;
	width:173px;
}
img._idGenObjectAttribute-101 {
	height:201px;
	width:245px;
}
img._idGenObjectAttribute-102 {
	height:203px;
	width:366px;
}
img._idGenObjectAttribute-103 {
	height:508px;
	width:503px;
}
img._idGenObjectAttribute-104 {
	height:129px;
	width:211px;
}
img._idGenObjectAttribute-105 {
	height:69px;
	width:442px;
}
img._idGenObjectAttribute-106 {
	height:289px;
	width:192px;
}
img._idGenObjectAttribute-107 {
	height:401px;
	width:503px;
}
img._idGenObjectAttribute-108 {
	height:70px;
	width:459px;
}
img._idGenObjectAttribute-109 {
	height:449px;
	width:503px;
}
img._idGenObjectAttribute-110 {
	height:189px;
	width:324px;
}
img._idGenObjectAttribute-111 {
	height:175px;
	width:503px;
}
img._idGenObjectAttribute-112 {
	height:94px;
	width:108px;
}
img._idGenObjectAttribute-113 {
	height:108px;
	width:72px;
}
img._idGenObjectAttribute-114 {
	height:69px;
	width:262px;
}
img._idGenObjectAttribute-115 {
	height:269px;
	width:179px;
}
img._idGenObjectAttribute-116 {
	height:158px;
	width:323px;
}
img._idGenObjectAttribute-117 {
	height:196px;
	width:351px;
}
img._idGenObjectAttribute-118 {
	height:231px;
	width:350px;
}
img._idGenObjectAttribute-119 {
	height:73px;
	width:345px;
}
img._idGenObjectAttribute-120 {
	height:133px;
	width:212px;
}
img._idGenObjectAttribute-121 {
	height:59px;
	width:82px;
}
img._idGenObjectAttribute-122 {
	height:54px;
	width:82px;
}
img._idGenObjectAttribute-123 {
	height:58px;
	width:86px;
}
img._idGenObjectAttribute-124 {
	height:58px;
	width:54px;
}
img._idGenObjectAttribute-125 {
	height:82px;
	width:57px;
}
img._idGenObjectAttribute-126 {
	height:339px;
	width:503px;
}
img._idGenObjectAttribute-127 {
	height:615px;
	width:503px;
}
img._idGenObjectAttribute-128 {
	height:96px;
	width:72px;
}
img._idGenObjectAttribute-129 {
	height:202px;
	width:349px;
}
img._idGenObjectAttribute-130 {
	height:75px;
	width:206px;
}
img._idGenObjectAttribute-131 {
	height:81px;
	width:66px;
}
img._idGenObjectAttribute-132 {
	height:84px;
	width:56px;
}
img._idGenObjectAttribute-133 {
	height:96px;
	width:71px;
}
img._idGenObjectAttribute-134 {
	height:76px;
	width:116px;
}
img._idGenObjectAttribute-135 {
	height:90px;
	width:89px;
}
img._idGenObjectAttribute-136 {
	height:102px;
	width:71px;
}
img._idGenObjectAttribute-137 {
	height:102px;
	width:83px;
}
img._idGenObjectAttribute-138 {
	height:194px;
	width:503px;
}
img._idGenObjectAttribute-139 {
	height:240px;
	width:359px;
}
img._idGenObjectAttribute-140 {
	height:518px;
	width:503px;
}
img._idGenObjectAttribute-141 {
	height:69px;
	width:323px;
}
img._idGenObjectAttribute-142 {
	height:69px;
	width:350px;
}
img._idGenObjectAttribute-143 {
	height:360px;
	width:503px;
}
img._idGenObjectAttribute-144 {
	height:274px;
	width:180px;
}
img._idGenObjectAttribute-145 {
	height:155px;
	width:208px;
}
img._idGenObjectAttribute-146 {
	height:182px;
	width:276px;
}
img._idGenObjectAttribute-147 {
	height:79px;
	width:82px;
}
img._idGenObjectAttribute-148 {
	height:97px;
	width:70px;
}
img._idGenObjectAttribute-149 {
	height:73px;
	width:448px;
}
img._idGenObjectAttribute-150 {
	height:179px;
	width:269px;
}
img._idGenObjectAttribute-151 {
	height:230px;
	width:346px;
}
img._idGenObjectAttribute-152 {
	height:117px;
	width:82px;
}
img._idGenObjectAttribute-153 {
	height:293px;
	width:390px;
}
img._idGenObjectAttribute-154 {
	height:73px;
	width:350px;
}
img._idGenObjectAttribute-155 {
	height:70px;
	width:105px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
